body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

body > * {
    max-width: 960px;
    margin: 0 auto;
}

.clearfix {
    float: none;
    clear: both;
}

.controls {
    background-color: black;
    border-radius: 8px;
    padding: 32px;

    color: white;
}

.control-panel h1 {
    font-weight: 200;
}

.switch-group {
    background-color: #2f2f2f;
    color: white;

    font-size: 0;
    border-radius: 32px;
    height: 64px;
}

.switch-group-state {
    display: inline-block;
    height: 64px;
    border-radius: 32px;
    
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;

    font-size: 12pt;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
    height: 100%;
    width: 100%;

    border-radius: 32px;
    transition: background-color 0.2s ease;
}

input[type="radio"] + label:hover {
    background-color: #8f8f8f;
}

input[type="radio"]:checked + label {
    background-color: #8f8f8f;
}

#control-panel-fan .switch-group-state {
    width: 25%;
}

#control-panel-swing .switch-group-state, #control-panel-water .switch-group-state {
    width: 50%;
}

@media (min-width: 480px) and (orientation: landscape) {
    .control-panel {
        float: left;
    }

    #control-panel-fan {
        width: 100%;
    }

    #control-panel-swing, #control-panel-water {
        width: 50%;
    }
}
